@font-face {
    font-family: OpenSansSemiBold;
    src: url(../assets/fonts/OpenSansSemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OpenSansLight;
    src: url(../assets/fonts/OpenSansLight.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OpenSansRegular;
    src: url(../assets/fonts/OpenSansRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OswaldRegular;
    src: url(../assets/fonts/OswaldRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: TitilliumWebSemiBold;
    src: url(../assets/fonts/TitilliumWebSemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OswaldExtraLight;
    src: url(../assets/fonts/OswaldExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
html, body {
    max-width: 100%; 
    overflow-x: hidden; 
}
*{
    margin: 0;
    padding: 0;
}
.first__container{
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(../assets/images/background.png);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 91, 193, 0.6);
    align-items: center;
}
.logo__and__text{
    display: flex;
    width: 140px;
    justify-content: space-between;
    margin-left: 40px;
    align-items: center;
    transition: all .3s ease;
}
.logo__and__text:hover{
    transform: scale(1.1);
}
.logo__text{
    font-family: TitilliumWebSemiBold;
    font-size: 24px;
    color: white;
    width: 75px;
    line-height: 120%;
    text-align: center;
}
.menu__header{
    margin: 0 auto;
    transform: translateX(-20%);
}
.menu__list{
    display: flex;
    list-style-type: none;
    width: 454px;
    justify-content: space-between;
}
.menu__link{
    text-decoration: none;
    color: white;
}
.menu__item{
    font-family: OpenSansSemiBold;
    font-size: 14px;
    transition: all .3s ease;
}
.menu__item:hover{
    transform: scale(1.1);
}
.first__page{
    margin: 0 auto;
    width: 1110px;
    height: 720px;
}
.rectangle{
    width: 444px;
    height: 720px;
    background-color: rgba(0, 91, 193, 0.6);
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    margin: 0 auto;
    margin-left: 190px;
    width: 600px;
    height: 142px;
    top: 285px;
}
.text__name{
    font-family: OswaldRegular;
    font-size: 48px;
    color: white;
    letter-spacing: 1%;
}
.text__information{
    font-family: OpenSansRegular;
    font-size: 16px;
    width: 445px;
    color: white;
    margin-top: 40px;
}
.button__information{
    width: 160px;
    height: 51px;
    border: 2px solid white;
    background: none;
    font-family: OpenSansSemiBold;
    font-size: 16px;
    color: white;
    margin-top: 40px;
    letter-spacing: 1px;
    transition: all .3s ease;
}
.button__information:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.main{
    position: relative;
    margin: 0 auto;
    width: 1920px;
    height: 2554px;
}
.first__block{
    position: absolute;
    width: 1110px;
    height: 520px;
    top: 150px;
    left: 405px;
}
.head__slider{
    display: flex;
    justify-content: space-between;
}
.title{
    display: flex;
    align-items: center;
}
.title__name{
    font-family: OswaldRegular;
    font-size: 30px;
    margin-left: 40px;
}
.arrows{
    display: flex;
}
.rectangle__arrow{
    display: flex;
    border: 2px solid #005BC1;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
}
.rectangle__arrow:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.images__first__block{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.union__first__block__images{
    position: relative;
}
.for__image__first__block{
    width: 540px;
    height: 400px;
}
.rectangle__for__image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 255px;
    left: 255px;
    width: 250px;
    height: 110px;
    background-color: white;
}
.text__in__rectangle{
    width: 200px;
    height: 70px;
}
.title__rectangle__image{
    font-family: OswaldRegular;
    font-size: 18px;
    color: #343434;
}
.description__rectangle__image{
    font-family: OpenSansLight;
    font-size: 14px;
    color: #343434;
    margin-top: 14px;
}
.second__block{
    position: absolute;
    width: 1110px;
    height: 505px;
    top: 820px;
    left: 405px;
}
.information__second__block{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 211px;
    height: 41px;
    font-family: OswaldRegular;
    font-size: 24px;
}
.images__second__block{
    display: flex;
    justify-content: space-between;
}
.link__title{
    text-decoration: none;
    color: #343434;
}
.title__second__block{
    color: #005BC1;
    border-bottom: 2px solid #005BC1 ;
}
.for__image__second__block{
    width: 350px;
    height: 300px;
}
.union__second__block__images{
    position: relative;
}
.rectangle__for__image__second__block{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 199px;
    left: 85px;
    width: 265px;
    height: 86px;
    background-color: #005BC1;
}
.text__in__rectangle__second__block{
    display: flex;
    align-items: center;
    width: 208px;
    height: 56px;
    font-family: OswaldRegular;
    font-size: 18px;
    color: white;
}
.third__block{
    position: absolute;
    width: 1110px;
    height: 478px;
    top: 1485px;
    left: 405px;
}
.third__block__union{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third__block__text{
    font-family: OpenSansLight;
    font-size: 18px;
    width: 350px;
    height: 175px;
    color: #343434;
}
.third__block__slider__information{
    width: 665px;
    height: 394px;
    border: 2px solid #005BC1;
    margin-top: 40px;
}
.third__block__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.third__block__title__text{
    font-family: OswaldRegular;
    font-size: 18px;
}
.third__block__union__slider{
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
}
.third__block__img{
    width: 255px;
    height: 250px;
    margin-left: 30px;
}
.third__block__name__product{
    margin-right: 178px;
    font-family: OswaldRegular;
    font-size: 16px;
    color: #343434;
}
.third__list__information{
    font-family: OpenSansLight;
    font-size: 14px;
    width: 270px;
    height: 152px;
    margin-top: 30px;
    margin-left: 19px;
}
.third__list{
    margin-bottom: 18px;
}
.fourth__block{
    position: absolute;
    width: 1110px;
    height: 363px;
    top: 2071px;
    left: 405px;
}
.button__in__slider{
    width: 190px;
    height: 51px;
    font-family: OpenSansSemiBold;
    font-size: 16px;
    color: white;
    background-color: #005BC1;
    border: 0px;
    letter-spacing: 1px;
    transition: all .4s ease;
}
.button__in__slider:hover{
    transform: scale(1.1);
}
.fourth__big__block__news{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.fourth__block__first__news{
    display: flex;
    justify-content: space-between;
    width: 540px;
    height: 242px;
}
.link__for__first__card{
    text-decoration: none;
}
.fourth__img__first__news{
    width: 255px;
    height: 242px;
}
.fourth__title__first__news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 255px;
    height: 27px;
}
.title__for__news{
    font-family: OswaldRegular;
    font-size: 18px;
    color: #343434;
}
.date__for__news{
    font-family: OpenSansSemiBold;
    font-size: 14px;
    color: #979797;
}
.fourth__block__first__desc{
    font-family: OpenSansLight;
    font-size: 14px;
    color: #343434;
    width: 255px;
    height: 133px;
    margin-top: 42px;
    margin-bottom: 21px;
}
.fourth__head{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.link__for__more__info{
    align-self: flex-start;
    font-family: OpenSansRegular;
    font-size: 14px;
    color: #343434;
    letter-spacing: 1px;
}
.fourth__block__second__news{
    width: 225px;
    height: 242px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.title__second__news{
    font-family: OswaldRegular;
    font-size: 18px;
    color: #343434;
}
.desc__second__news{
    font-family: OpenSansLight;
    font-size: 14px;
    color: #343434;
}
.img__with__date__second{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.img__for__second__block{
    width: 128px;
}
.link__for__second__card{
    text-decoration: none;
}
.fourth__block__third__news{
    width: 225px;
    height: 242px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.title__third__news{
    width: 100px;
    font-family: OswaldRegular;
    font-size: 18px;
    color: #343434;
}
.link__for__third__card{
    text-decoration: none;
}
.footer{
    width: 100%;
    height: 255px;
    background-color: #005BC1;
}
.container__footer{
    margin: 0 auto;
    width: 1110px;
    border: 2px solid red;
    height: 194px;
}