@font-face {
    font-family: OpenSansSemiBold;
    src: url(../assets/fonts/OpenSansSemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OpenSansLight;
    src: url(../assets/fonts/OpenSansLight.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OpenSansRegular;
    src: url(../assets/fonts/OpenSansRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OswaldRegular;
    src: url(../assets/fonts/OswaldRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: TitilliumWebSemiBold;
    src: url(../assets/fonts/TitilliumWebSemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: OswaldExtraLight;
    src: url(../assets/fonts/OswaldExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
}
.first__container{
    position: relative;
    width: 1920px;
    height: 800px;
    background-image: url(../assets/images/background.png);
    margin: 0 auto;
}
.header{
    display: flex;
    width: 1920px;
    height: 80px;
    background-color: rgba(0, 91, 193, 0.6);
    align-items: center;
}
.logo__and__text{
    display: flex;
    width: 140px;
    justify-content: space-between;
    margin-left: 40px;
    align-items: center;
    transition: all .3s ease;
}
.logo__and__text:hover{
    transform: scale(1.1);
}
.logo__text{
    font-family: TitilliumWebSemiBold;
    font-size: 24px;
    color: white;
    width: 75px;
    line-height: 120%;
    text-align: center;
}
.menu__header{
    margin-left:555px;
}
.menu__list{
    display: flex;
    list-style-type: none;
    width: 454px;
    justify-content: space-between;
}
.menu__link{
    text-decoration: none;
    color: white;
}
.menu__item{
    font-family: OpenSansSemiBold;
    font-size: 14px;
    transition: all .3s ease;
}
.menu__item:hover{
    transform: scale(1.1);
}
.first__page{
    margin: 0 auto;
    width: 1110px;
    height: 720px;
}
.rectangle{
    width: 444px;
    height: 720px;
    background-color: rgba(0, 91, 193, 0.6);
}
.information{
    position: absolute;
    width: 600px;
    height: 142px;
    top: 285px;
    left: 595px;
}
.text__name{
    font-family: OswaldRegular;
    font-size: 48px;
    color: white;
    letter-spacing: 1%;
}
.text__information{
    font-family: OpenSansRegular;
    font-size: 16px;
    width: 445px;
    color: white;
    margin-top: 40px;
}
.button__information{
    width: 160px;
    height: 51px;
    border: 2px solid white;
    background: none;
    font-family: OpenSansSemiBold;
    font-size: 16px;
    color: white;
    margin-top: 40px;
    transition: all .3s ease;
}
.button__information:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.main{
    position: relative;
    margin: 0 auto;
    width: 1920px;
    height: 2554px;
}
.first__block{
    position: absolute;
    width: 1110px;
    height: 520px;
    top: 150px;
    left: 405px;
}
.head__slider{
    display: flex;
    justify-content: space-between;
}
.title{
    display: flex;
    align-items: center;
}
.title__name{
    font-family: OswaldRegular;
    font-size: 30px;
    margin-left: 40px;
}
.arrows{
    display: flex;
}
.rectangle__arrow{
    display: flex;
    border: 2px solid #005BC1;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
}
.rectangle__arrow:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.images__first__block{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.union__first__block__images{
    position: relative;
}
.for__image__first__block{
    width: 540px;
    height: 400px;
}
.rectangle__for__image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 255px;
    left: 255px;
    width: 250px;
    height: 110px;
    background-color: white;
}
.text__in__rectangle{
    width: 200px;
    height: 70px;
}
.title__rectangle__image{
    font-family: OswaldRegular;
    font-size: 18px;
    color: #343434;
}
.description__rectangle__image{
    font-family: OpenSansLight;
    font-size: 14px;
    color: #343434;
    margin-top: 14px;
}
.second__block{
    position: absolute;
    width: 1110px;
    height: 505px;
    top: 820px;
    left: 405px;
}
.information__second__block{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 211px;
    height: 41px;
    font-family: OswaldRegular;
    font-size: 24px;
}
.images__second__block{
    display: flex;
    justify-content: space-between;
}
.link__title{
    text-decoration: none;
    color: #343434;
}
.title__second__block{
    color: #005BC1;
    border-bottom: 2px solid #005BC1 ;
}
.for__image__second__block{
    width: 350px;
    height: 300px;
}
.union__second__block__images{
    position: relative;
}
.rectangle__for__image__second__block{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 199px;
    left: 85px;
    width: 265px;
    height: 86px;
    background-color: #005BC1;
}
.text__in__rectangle__second__block{
    display: flex;
    align-items: center;
    width: 208px;
    height: 56px;
    font-family: OswaldRegular;
    font-size: 18px;
    color: white;
}